body {
    background-color: #ddd;
    margin: 10px;
    text-align: left;
}

.simmedform fieldset,
.simmedform fieldset legend {
    background-color: #fff;
    border: none;
}

#simmeditemcontainer {
    background-color: #eee;
    height: 300px;
    overflow: auto;
    padding: 5px;
}

#simmeditemcontainer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#simmeditemcontainer a {
    color: #000;
    margin: 0.1em 0.2em;
    text-decoration: underline;
}
#simmeditemcontainer a:hover,
#simmeditemcontainer a:focus,
#simmeditemcontainer a:active {
    color: #900;
    text-decoration: none;
}

#simmeditemcontainer a img {
    border: none;
}

#simmeditemcontainer a img {
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    padding: 0.5em;
}
#simmeditemcontainer a:hover img,
#simmeditemcontainer a:focus img,
#simmeditemcontainer a:active img {
    background-color: #fff;
}
