/* view pages */
div#z-maincontent.z-module-simplemedia table tbody tr td {
    vertical-align: top;
}

/* display pages */
.simplemedia-display.with-rightbox div.z-panel-content {
    float: left;
    width: 79%;
}
.simplemedia-display div.simplemedia-rightbox {
    float: right;
    margin: 0 1em;
    padding: .5em;
    width: 20%;
    /*border: 1px solid #666;*/
}

.simplemedia-display div.simplemedia-rightbox h3 {
    color: #333;
    font-weight: 400;
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
}

.simplemedia-display div.simplemedia-rightbox p.managelink {
    margin-left: 18px;
}

div.simplemedia-mapcontainer {
    height: 400px;
}

.z-tree-container {
    border: 1px solid #ccc;
    width: 400px;
    float: left;
    margin-right: 16px;
}
/* validation */
div.z-formrow input.required, div.z-formrow textarea.required {
    border: 1px solid #00a8e6;
}
div.z-formrow input.validation-failed, div.z-formrow textarea.validation-failed {
    border: 1px solid #f30;
    color: #f30;
}
div.z-formrow input.validation-passed, div.z-formrow textarea.validation-passed {
    border: 1px solid #0c0;
    color: #000;
}

.validation-advice {
    margin: 5px 0;
    padding: 5px;
    background-color: #f90;
    color: #fff;
    font-weight: 700;
}

/* edit pages */
form.z-form select.z-form-dropdownlist,
form.z-form input.z-form-upload {
    float: left;
}
div.simplemedia-relation-leftside {
    float: left;
    width: 25%;
}

div.simplemedia-relation-rightside {
    float: right;
    width: 65%;
}

/* hide legends if z-panels are used as both contain the same labels */
div.simplemedia-edit .z-panel-content legend {
    display: none;
}


div.simplemedia-autocomplete {
    position: relative !important;
    top: 2px !important;
    width: 191px !important;
    background-color: #fff;
    border: 1px solid #888;
    margin: 0;
    padding: 0;
}

div.simplemedia-autocomplete {
    left: 0 !important;
}
div.simplemedia-autocomplete ul {
    margin: 0;
    padding: 0;
}

div.simplemedia-autocomplete ul li {
    margin: 0;
    padding: 0.2em 0 0.2em 20px;
    list-style-type: none;
    line-height: 1.4em;
    cursor: pointer;
    display: block;
    background-position: 2px 2px;
    background-repeat: no-repeat;
}

div.simplemedia-autocomplete ul li {
    background-image: url("../../../images/icons/extrasmall/tab_right.png");
}

div.simplemedia-autocomplete ul li.selected {
    background-color: #ffb;
}

div.simplemedia-autocomplete ul li div.itemtitle {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.2em;
}
div.simplemedia-autocomplete ul li div.itemdesc {
    font-size: 10px;
    color: #888;
}

button.simplemedia-inline-button {
    margin-top: 1em;
}

div.simplemedia-view form.simplemedia-quicknav {
    margin: 10px 0;
    padding: 8px 12px;
    border: 1px solid #ccc;
}

div.simplemedia-view form.simplemedia-quicknav fieldset {
    padding: 3px 10px;
    margin-bottom: 0;
}

div.simplemedia-view form.simplemedia-quicknav fieldset h3 {
    margin-top: 0;
    display: none;
}

div.simplemedia-view form.simplemedia-quicknav fieldset #num {
    width: 50px;
    text-align: right;
}

/* CUSTOM STYLES */

/* Collection and Media grid view */
.simplemedia-collection div.simplemedia-collection-wrap {
    float:left;
    margin:20px;
    text-align:center;
    position:relative;
    border: 1px solid #dde;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.simplemedia-collection div.simplemedia-collection-wrap:hover {
    border-color:#669;
}
.simplemedia-medium div.simplemedia-medium-wrap {
    float:left;
    margin:5px 15px;
    text-align:center;
    position:relative;
}
/*.simplemedia-collection div.simplemedia-collection-actions,
.simplemedia-medium div.simplemedia-medium-actions {
    display:block;
    position:absolute;
    right:10px;
    bottom:2px;
}*/
.simplemedia-collection div.simplemedia-collection-preview,
.simplemedia-medium div.simplemedia-medium-preview {
    margin:0;
    padding:0;
    -webkit-border-radius:10px 10px 0 0;
    -moz-border-radius:10px 10px 0 0;
    border-radius:10px 10px 0 0;
    text-decoration:none;
    /* opacity gives also opacity to divs stacked above this div
    filter: alpha(opacity=30);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=30);
    opacity:0.3;
    -moz-opacity: 0.30;
    zoom: 1;*/
}
.simplemedia-medium div.simplemedia-medium-preview {
    position:relative;
}
.simplemedia-medium div.simplemedia-medium-preview img.simplemedia-img-rounded {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border:2px solid #fff;
    /*-webkit-box-shadow: #B3B3B3 5px 5px 5px;
    -moz-box-shadow: #B3B3B3 5px 5px 5px;
    box-shadow: #B3B3B3 5px 5px 5px;*/
}
.simplemedia-medium div.simplemedia-medium-preview img.simplemedia-img-rounded:hover {
    border:2px solid #999;
}
.simplemedia-collection div.simplemedia-collection-preview img.simplemedia-img-rounded {
    -webkit-border-radius:10px 10px 0 0;
    -moz-border-radius:10px 10px 0 0;
    border-radius:10px 10px 0 0;
    /*-webkit-box-shadow: #B3B3B3 5px 5px 5px;
    -moz-box-shadow: #B3B3B3 5px 5px 5px;
    box-shadow: #B3B3B3 5px 5px 5px;*/
}
.simplemedia-collection div.simplemedia-collection-preview img.simplemedia-img-plain {
    margin-top:15px;
}
.simplemedia-collection div.simplemedia-collection-preview img.simplemedia-img-plain:hover {
}
.simplemedia-collection div.simplemedia-collection-title,
.simplemedia-medium div.simplemedia-medium-title {
    margin: 10px 5px 2px;
}
.simplemedia-collection-title a,
.simplemedia-medium-title a {
    text-decoration:none;
    font-weight:bold;
}
.simplemedia-collection div.simplemedia-collection-meta {
    position:absolute;
    top:0;
    background:#ffe;
    text-align:left;
    border:1px #999 solid;
    border-width:0 0 1px;
    width:100%;
    z-index:1000;
    font-size:0.95em;
    -webkit-border-radius:10px 10px 0 0;
    -moz-border-radius:10px 10px 0 0;
    border-radius:10px 10px 0 0;
}
.simplemedia-collection div.simplemedia-collection-meta dl {
	margin:1em 0.5em;
}
.simplemedia-collection div.simplemedia-collection-meta dl dd{
	margin:0;
}
.simplemedia-medium-download {
    margin: 0 4px;
}

.simplemedia-medium-previewimagetext {
    color:#ddd;
    background:#000;
    font-size:1.25em;
    font-weight:bold;
    padding:2px;
    position:absolute;
    z-index:100;
    bottom:60px;
    transform:rotate(315deg);
    -ms-transform:rotate(315deg); /* IE 9 */
    -webkit-transform: rotate(315deg); /* Safari and Chrome */
}

